<img id="ordinaLogo" src="assets/logo.svg" alt="Ordina logo"/>
<h1 id="title">{{title}}</h1>

<input type="text" #inputText (keyup)="setUserInput(inputText.value)" placeholder={{inputPlaceholder}}/>
<button (click)="onSubmitButtonClick()">{{submitButtonText}}</button>
<p id="errorMessage">{{errorMessageText}}</p>

<div *ngIf="poolauto != null || undefined">
  <textarea cols="30" rows="10" [(ngModel)]="textAreaValue"></textarea>
  <button [cdkCopyToClipboard]="textAreaValue">{{copyButtonText}}</button>
</div>
